
<!-- img_backRmv_index.html -->

{% extends 'layout.html' %}

{% block head %}
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.754.0.min.js"></script>
<script type="text/javascript">
    var bucketName = 'ppt-maker-bucket';
    var bucketRegion = 'ap-northeast-2';
    var IdentityPoolId = 'ap-northeast-2:16956c04-2bc2-4733-8859-5805b9206ac8';

    AWS.config.update({
        region: bucketRegion,
        credentials: new AWS.CognitoIdentityCredentials({
            IdentityPoolId: IdentityPoolId
        })
    });

    var s3 = new AWS.S3({
        apiVersion: '2006-03-01',
        params: {Bucket: bucketName}
    });
</script>
{% endblock %}

{% block content %}
    <div class="hero-wrap js-fullheight">
        <div class="overlay"></div>
        <div id="particles-js"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-12 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                    <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                        사용자가 입력한 이미지를 딥러닝 처리 (background removal) 해서 다운 받을 수 있게 해줌
                    </p>
                </div>
                <div class="col-md-8">
                    <input id="file-selector" type="file" accept=".jpg, .jpeg, .png">
                </div>
                <a href="javascript:submit();" class="btn btn-primary">후처리하기</a>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function submit(){
            var fileSelector = document.getElementById('file-selector');
            if (fileSelector.files[0]==null){
                alert("배경을 지우고 싶은 사진 파일을 먼저 선택해주세요.")
            }
            else{
                var upload = new AWS.S3.ManagedUpload({
                    params: {
                        Bucket: 'ppt-maker-bucket',
                        Key: 'inputImage/'+fileSelector.files[0].name,
                        Body: fileSelector.files[0],
                        ACL: "public-read"
                    }
                });

                var promise = upload.promise();

                promise.then(
                    function(data) {
                        alert("선택된 파일 이름은 "+fileSelector.files[0].name+"이고 이거 s3에 잘 올라갔음ㅇㅇ이제지피유한테 이 파일이름전송하면 걔가 후처리하고 완성본 s3에 올려주면 내가 그거 다운로드 받을거야");
                    },
                    function(err) {
                        return alert(err);
                    }
                );

            }
        }
    </script>
{% endblock %}