<!-- img_supResol_index.html -->

{% extends 'layout.html' %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="hero-wrap js-fullheight">
        <div class="overlay"></div>
        <div id="particles-js"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                    <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                        사용자가 입력한 이미지를 딥러닝 처리 (super resolution) 해서 다운 받을 수 있게 해줌
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}