<!-- index.html -->
{% extends 'layout.html' %}
 
{% block head %}
{% endblock %}

{% block content %}
    <div class="hero-wrap js-fullheight">
        <div class="overlay"></div>
        <div id="particles-js"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-3 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                    <img class="mb-7" src="{{ url_for('static',filename='images/robot_logo_outline.svg') }}" width="192" height="248">
                </div>
                <div class="col-md-5 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                    <h2 class="mb-4">
                        딥러닝 기반의 PPT 자동제작 서비스: <strong>발펴고자</strong>
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section testimony-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">저희 서비스는요..</span>
                <h2 class="mb-4">이러이러한 서비스입니다</h2>
                <p> 사용자 후기들?</p>
            </div>
            </div>
            <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                <div class="item text-center">
                    <div class="testimony-wrap p-4 pb-5">
                    <div class="user-img mb-4" style="background-image: url(../static/images/person_2.jpg)">
                        <span class="quote d-flex align-items-center justify-content-center">
                        <i class="icon-quote-left"></i>
                        </span>
                    </div>
                    <div class="text">
                        <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <p class="name">Dennis Green</p>
                        <span class="position">Marketing Manager</span>
                    </div>
                    </div>
                </div>
                <div class="item text-center">
                    <div class="testimony-wrap p-4 pb-5">
                    <div class="user-img mb-4" style="background-image: url(../static/images/person_2.jpg)">
                        <span class="quote d-flex align-items-center justify-content-center">
                        <i class="icon-quote-left"></i>
                        </span>
                    </div>
                    <div class="text">
                        <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <p class="name">Dennis Green</p>
                        <span class="position">Interface Designer</span>
                    </div>
                    </div>
                </div>
                <div class="item text-center">
                    <div class="testimony-wrap p-4 pb-5">
                    <div class="user-img mb-4" style="background-image: url(../static/images/person_3.jpg)">
                        <span class="quote d-flex align-items-center justify-content-center">
                        <i class="icon-quote-left"></i>
                        </span>
                    </div>
                    <div class="text">
                        <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <p class="name">Dennis Green</p>
                        <span class="position">UI Designer</span>
                    </div>
                    </div>
                </div>
                <div class="item text-center">
                    <div class="testimony-wrap p-4 pb-5">
                    <div class="user-img mb-4" style="background-image: url(../static/images/person_4.jpg)">
                        <span class="quote d-flex align-items-center justify-content-center">
                        <i class="icon-quote-left"></i>
                        </span>
                    </div>
                    <div class="text">
                        <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <p class="name">Dennis Green</p>
                        <span class="position">Web Developer</span>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </section>

    <script type="text/javascript">
        $('a[href="' + this.location.pathname + '"]').parent().addClass('active');
    </script>
{% endblock %}