<!-- index.html -->

{% extends 'layout.html' %}
 
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
        {% for post in posts %}
        <article>
            <hr>
            <div class="row">
            <div class="col">
                <a class="h1" href="#">{{ post.title }}</a>
                <p class="text-justify">{{ post.content }}</p>
            </div>
            <div class="col-md-2 d-flex flex-column">
                <img class="rounded-circle mx-auto" src="#" data-src="holder.js/64x64" width="64px" height="64px">
                <p class="text-muted text-center">{{ post.author.username }}</p>
            </div>
            </div>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        </article>
        {% endfor %}
        </div>
        
        <aside class="col-md-4 my-3">
        <h2>사이드 바</h2>
        <ul class="list-group">
            <li class="list-group-item">사이드바 아이템1</li>
            <li class="list-group-item">사이드바 아이템2</li>
            <li class="list-group-item">사이드바 아이템3</li>
            <li class="list-group-item">사이드바 아이템4</li>
        </ul>
        </aside>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src=https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js></script>
{% endblock %}