<!-- ppt_index.html -->

{% extends 'layout.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/editor.md/examples/css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/editor.md/css/editormd.css') }}" />
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
{% endblock %}

{% block content %}
    <div id="layout">
        <div id="test-editormd">
            <textarea style="display:none;"></textarea>
        </div>
    </div>
    <script src="{{ url_for('static', filename='node_modules/editor.md/examples/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/editor.md/editormd.min.js') }}"></script>
    <script type="text/javascript">
        var testEditor;

        $(function() {
            testEditor = editormd("test-editormd", {
                width   : "90%",
                height  : 640,
                syncScrolling : "single",
                path    : "../static/node_modules/editor.md/lib/"
            });
            
            /*
            // or
            testEditor = editormd({
                id      : "test-editormd",
                width   : "90%",
                height  : 640,
                path    : "../lib/"
            });
            */
        });
    </script>
{% endblock %}