
<!-- ppt_download_index.html -->

{% extends 'layout.html' %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="hero-wrap js-fullheight">
        <div class="overlay"></div>
        <div id="particles-js"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-12">
                    <a href="" class="btn btn-default">다운로드</a>
                </div>
            </div> 
        </div>
        
    </div>

    
    
{% endblock %}