<!-- ppt_index.html -->

{% extends 'layout.html' %}

{% block head %}
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.754.0.min.js"></script>
    <script src="../static/js/aws-sdk.js"></script>
    <script src="../static/js/time-custom.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='custom_modules/editormd/css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='custom_modules/editormd/css/custom_editormd.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='custom_modules/editormd/css/custom_helpmd.css') }}" />
{% endblock %}

{% block content %}
    <div class="hero-wrap js-fullheight">
        <div class="overlay"></div>
        <div id="particles-js"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-10 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                    <div id="mdeditor">
                        <textarea id="mdeditortextarea" style="display:none;"></textarea>
                    </div>
                    <a href="javascript:startConvert();" class="btn btn-default">변환하기</a>
                </div>
            </div> 
        </div>
    </div>


    
    
    <script src="{{ url_for('static', filename='node_modules/editor.md/examples/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='custom_modules/editormd/custom_editormd.js') }}"></script>
    <script type="text/javascript">
        var testEditor;

        $(function() {
            testEditor = editormd("mdeditor", {
                width   : "95%",
                height  : 720,
                path    : "../static/custom_modules/editormd/lib/",
            });
            testEditor.setEditorTheme('neat')
        });

        function startConvert(){
            var mdeditorData = { "html" : testEditor.getHTML() };

            $.ajax({
                type : 'POST',
                url : "/ppt",
                data: mdeditorData,
                success: function(result){
                    // 유저가 입력을 잘못해서 파싱 실패한 걸 알려주는 에러메시지
                    if (result.status == 'error') {
                        alert(result.message)
                    }
                    // 완성된 피피티 다운로드 링크
                    else if (result.status == 'success'){
                        location.href = result.url
                    }
                    else {
                        console.log(result.status)
                    }
                },
                error: function(xtr, status, error){
                    alert(xtr+":"+status+":"+error);
                }
            });
        }
    </script>


    <script type="text/javascript">
        $('a[href="' + this.location.pathname + '"]').parent().addClass('active');
    </script>
</script>    
{% endblock %}